1.Explain the key features of Python that make it a popular choice for programming.

A. Python is one of the most popular languages because of its simplicity and versatile nature.The following features make Python popular.They are:
1. Simple and Easy: Python has simple and easy syntax and beginner friendly to understand does work with less lines of code unlike other programming languages.
2.Interpreted language: Python executes code line by line making it easy to test and debug.
3.Dynamically typed: In Python it doesn't require to declare data types for variables.
4.Extensive Standard Library:Python has huge set of  buit-in modules and libraries to use saves time.
5.Huge Community and support: It is easy to find help in documentation, coding, open source code because massive users use Python.
6.Cross Platform:Python can be used and implemented across different operating systems such as windows,mac,linux etc.
7.Versatile and Multi Paradigm: Python is key to open into may advanced technologies like Data Science, Data Analytics,Machine Learning, Artificial Intelligence,Automamtions, Game Development etc.
Python has different approaches to solve problem like Functional, Object-Oriented, Procedural Oriented.

2.Describe the role of predefined keywords in Python and provide examples of how they are used in a
program?

A. Predefined keywords have special meaning to the Python interpreter.They define the syntax and structure of the language.These predefined words are prohibited to used as the identifiers like variable names,function names etc .The keywords help Python to understand what operations are being performed.List of some of keywords are False,True,None,and, or, asynd, if, else, elif,await, for,continue, break ,def,case etc.

In [5]:
#Example
'''This is an example of explaining predefined keywords.Given ages of 5 members ,print "True" when member is eligible to vote , print "False" when member is not eligible t0 vote'''
No_of_members=5
ages=[10,21,18,19,2]
for i in range(0,No_of_members):
  if ages[i]>=18:
    print("True")
  else:
    print("False")

False
True
True
True
False

From above example range, for, if, else, print, True, False are predefined keywords

In [11]:
a=10
print(a)

10

In [12]:
for=20
print(20)

SyntaxError: invalid syntax (<ipython-input-12-1d6e99fc5174>, line 1)

when a is assigned and printed no error found ,but when for assigned with 20 it showing invalid syntax error because for is predefined and cannot be used as identifier.

3. Compare and contrast mutable and immutable objects in Python with examples.

A.Mutable Object: Mutable objects can be changed after they are created.These objects can be modified,added, removed witout changing object's identity i.e its memory address.Mutable objects are Lists, dict,set,array.

In [15]:
#Eg1:
'''Here we can modify the elements in list by adding, removing,replacing etc'''
l=[10,20,'data',['age','rollno'],"@"]
print(l)

[10, 20, 'data', ['age', 'rollno'], '@']

In [16]:
l[2]="data_analytics"
print(l)

[10, 20, 'data_analytics', ['age', 'rollno'], '@']

In [17]:
l.pop() #@ removed
print(l)

[10, 20, 'data_analytics', ['age', 'rollno']]

In [18]:
l.append(100)
print(l)

[10, 20, 'data_analytics', ['age', 'rollno'], 100]

In [21]:
l.insert(0,'start')
print(l)

['start', 10, 20, 'data_analytics', ['age', 'rollno'], 100]

In [22]:
l.remove(['age','rollno'])
print(l)

['start', 10, 20, 'data_analytics', 100]

In [24]:
l1=['apple','banana']
l.extend(l1)
print(l)

['start', 10, 20, 'data_analytics', 100, 'apple', 'banana']

Immutable object:Objects cannot be changed or modified one they are created.Eg:string,int,float,tuple,bool

In [28]:
#Eg
name="TOLLYWOOD"
print(name)
name[0]="B"
print(name)

TOLLYWOOD

TypeError: 'str' object does not support item assignment

since string is an immutable object cannot be modified

In [32]:
#Eg
'''Tuple '''
student=("Anil",19,'cse')
print(student)
print(student[2])
student[2]="ECE"
print(student)

('Anil', 19, 'cse')
cse

TypeError: 'tuple' object does not support item assignment

These immutable objects helps in data integrity and security in real world.

4. Discuss the different types of operators in Python and provide examples of how they are used.

A. Operators in Python are used to perform operations between two operands.The types of operators in Python are Arithmetic operators, Comparison(Relational) Operators,Assignment Operators,Logical Operators,Identity Operators,Membership Operators,Bitwise Operators

In [1]:
#1.Arithmetic Operators
a=10
b=5
print(a+b) #addition
print(a-b) #subtraction
print(a*b) #multiplicaton
print(a/b) #Division
print(a//b) #Floor Division
print(a%b) #modulus
print(a**b) #exponentiation

15
5
50
2.0
2
0
100000

In [7]:
#2.Comparison Operators
a=1
b=2
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [13]:
#3.Assignment Operators
a=10
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)
a//=5
print(a)
a%=5
print(a)
a**=5
print(a)

15
10
50
10.0
2.0
2.0
32.0

In [22]:
# 4.Logical Operators
a=5
b=10
c=6
if a<c and b>c:
  print("True")
if (a<b or b<c):
  print("True")
else:
  pass
print(not(a>b))

True
True
True

In [23]:
#5.Identity operators
a=5
b=5
print(a is b)
print(a is not b)

True
False

In [26]:
#6.Membership Operators
if 'a' in 'apple':
  print("True")
if 'z' not in 'apple':
  print("True")

True
True

In [29]:
#7.Bitwise Operator
print(5&3)
print(5|2)
print(5^3)
print(5<<1)
print(5>>1)
print(~1)

1
7
6
10
2
-2

5.Explain the concept of type casting in Python with examples

Typecasting a process of converting one data type to another data type.There are two types of types casting,
1.Implicit Typecasting
2.Explicit Typecasting

In [31]:
#Implicit Typecasting:
a=5 #int
b=10.0 #float
ans=a+b
print(ans)
print(type(ans))
'''Implicitly (internally) ans is converted to float to avoid losing accuracy'''

15.0
<class 'float'>

In [38]:
#Explict typecasting

a=10
print(type(a))
print(float(a))
print(str(a))
print(type(str(a)))
print(bool(a))
print(type(bool(a)))

<class 'int'>
10.0
10
<class 'str'>
True
<class 'bool'>

6. How do conditional statements work in Python? Illustrate with examples.

A.Conditional statements lets follow conditions in code to meet certain approach.There are 4 types of conditional statements.They are

In [39]:
#if statement
age=18
if age>=18:
  print("Eligible to vote")

Eligible to vote

In [42]:
# if...else statement
age=17
if age>=18:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Not eligible to vote

In [41]:
#if...elif...else statement
marks=75
if marks>=90:
  print("Grade A")
elif marks>=80:
  print("Grade B")
elif marks>=70:
  print("Grade C")
elif marks>=60:
  print("Grade D")
else:
  print("Fail")

Grade C

In [ ]:
#Nested if statement
age=18
female_age=19
male_age=21
if age>=18:
  if female_age>=19:
    if male_age>=21:
      print("Eligible to marry")
    else:
      print("not eligible to marry")
  else:
    print("Not eligible to marry")
else:
  print("Not Eligible to marry")

7.Describe the different types of loops in Python and their use cases with examples.

A. Loops are used to iterate over a sequence.There are two types of loops in python.
1.for loop
2.while loop

In [44]:
#for loop
a=[10,20,30,40,10,20,89,65,34,12]
for i in range(0,len(a)):
  print(a[i],end=" ")
'''for loop is used when we know till how many number of times when loop supposed to run'''

10 20 30 40 10 20 89 65 34 12

In [52]:
#while loop
a=10
i=1
while(i<a):
  print(i,end=" ")
  i+=1

'''while loop is used when we dont know exact how many numbers of times loop supposed to run'''

1 2 3 4 5 6 7 8 9

'while loop is used when we dont know exact how many numbers of times loop supposed to run'

loops usually involves loop control statements they are:

In [49]:
#break

for i in range(1,5):
  if i==3:
    break
  print(i)

1
2

In [50]:
# continue

for i in range(1,5):
  if i==3:
    continue
  print(i)

1
2
4

In [51]:
#pass
a=4
b=3
if (a>b):
  print("True")
elif (a<b):
  pass
else:
  print("False")
'''when no statement to pass to conditions we can use "pass" keyword'''

True

'when no statement to pass to conditions we can use "pass" keyword'